{
    "count": 571, 
    "num_fields": 14, 
    "format": "csv", 
    "fieldtypes": {
        "surname": "str", 
        "name": "str", 
        "firstname": "str", 
        "ethnics": "str", 
        "depjoindate": "str", 
        "gender": "str", 
        "age": "int", 
        "rankage": "int", 
        "rank": "str", 
        "birthday": "str", 
        "rankdate": "str", 
        "department": "str", 
        "position": "str", 
        "midname": "str"
    }, 
    "app_key": "allamb", 
    "source": "data/allamb.tsv", 
    "delimiter": "\\t", 
    "version": null, 
    "dictkeys": [
        "firstname", 
        "ethnics", 
        "gender", 
        "age", 
        "rankage", 
        "rank", 
        "position"
    ]
}