{
    "count": 1459, 
    "num_fields": 5, 
    "format": "csv", 
    "fieldtypes": {
        "service_name": "str", 
        "phone": "str", 
        "region_name": "str", 
        "op_name": "str", 
        "id": "int"
    }, 
    "app_key": "phones", 
    "source": "data/phones.csv", 
    "delimiter": ",", 
    "version": null, 
    "dictkeys": [
        "service_name", 
        "region_name", 
        "id", 
        "op_name", 
        "phone"
    ]
}